<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/fragment :: head}">

</head>
<body>
   <header th:replace="~{common/fragment :: header}"></header>

   <main class="container mt-3 p-2 " >
      <div th:replace="~{common/fragment :: backBtn('Back','/')}" ></div>

      <div class="container mt-3 p-3 shadow-lg rounded">
         <h3 class="text-center">Add Blog</h3>
         <hr>
            <form action="/add-blog" method="post">
               <label for="blogHeading">Enter Heading</label>
               <input type="text" id="blogHeading" class="form-control"name="heading">

               <label for="blogDescription" class="form-lable">Enter Description</label>
               <textarea id="blogDescription" class="form-control" name="description"></textarea>
               <br>
               <button class="btn btn-success">Submit</button>
            </form>
      </div>
   </main>
</body>
</html>